<div class="container text-center">
  <div class="row pt-5">

    <div class="col-sm-4 p-1 m-3" style="background-color: rgb(80, 117, 55);color: wheat;border-radius: 20px;">
      <div class="p-5 m-5"> <a routerLink="/auth" routerLinkActive="active"
          style="text-decoration: none;color: aliceblue;">Authentication </a></div>
    </div>

    <div class="col-sm-2"></div>

    <div class="col-sm-4 p-1 m-3" style="background-color: rgb(44, 91, 160);color: wheat;border-radius: 20px;">
      <div class="p-5 m-5"> <a routerLink="/home" routerLinkActive="active"
          style="text-decoration: none;color: aliceblue;">Home </a></div>
    </div>


  </div>
</div>
